{% extends 'layout.twig' %} {% block body %}
<div class="container">
  <p class="lead">Test your typing speed</p>


  <!-- Typography
================================================== -->
  <section id="typography">

    <!-- Headings & Paragraph Copy -->
    <div class="row">

      <div class="col-lg-3">
        <div class="well">
          <button class="btn btn-primary" id="beginTest">Begin Test</button>
          <!--<a class="btn btn-lg btn-primary test" data-toggle="modal" href="#myModal">Begin Typing</a>-->
        </div>
      </div>

      <div class="col-lg-9">

        <h3>Bootstrap Framework</h3>
        <p>In simple terms, a responsive web design figures out what resolution of device it's being served on. Flexible grids
          then size correctly to fit the screen.</p>
        <p>The new Bootstrap 3 promises to be a smaller build. The separate Bootstrap base and responsive.css files have now
          been merged into one. There is no more fixed grid, only fluid.</p>
        <hr>
        <blockquote class="pull-right">
          <p>Have you ever had a project where you thought it would be so much better to just throw everything out and start
            over? I believe that’s what’s happening with BS3.</p>
          <small><cite title="Source Title">Quasipickle</cite></small>
        </blockquote>

      </div>
    </div>
  </section>



  <section id="article" class="hidden">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <p id='passage'></p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="well">
        <form>
          <div class="form-group">
            <label for="Typed">Type Here</label>
            <input type="text" class="form-control" id="typed">
          </div>
          <button type="button" class="btn btn-default" id='submit'>Submit</button>
        </form>
        <p id="typeView"></p>
      </div>
    </div>
  </section>

  <section id='result' class='hidden'>
    <div class='well'>
      <h3>display results</h3>
      <p>You type at a speed of <strong id='showResult'></strong>words per minute</p>

      <form method="post" action="/test">
          <div class="form-group hidden" >
            <label for="date">Date</label>
            <input type="text" name="date" id="date" class="form-control">
          </div>
          <div class="form-group hidden">
            <label for="typingSpeed">Last Name</label>
            <input type="number" name="typingSpeed" id="typingSpeed" class="form-control">
          </div>
        <button type="submit" class="btn btn-default" id='addHistory'>Add History</button>
      </form>
      
    </div>
  </section>



  <!-- script references -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  {% endblock %}

  </html>