{% extends 'layout.twig' %} {% block body  %}
<div class="container">
  <p class="lead">Test your typing speed</p>


  <!-- Typography
================================================== -->
  <section id="typography" data-spy="scroll" data-target=".btn" data-offset="50">

    <!-- Headings & Paragraph Copy -->
    <div class="row">

      <div class="col-lg-3">
        <div class="well">
          <button class="btn btn-primary" id="beginTest">Begin Test</button>
          <!--<a class="btn btn-lg btn-primary test" data-toggle="modal" href="#myModal">Begin Typing</a>-->
        </div>
      </div>

      <div class="col-lg-9">

        <h3>How it works</h3>
        <p>And here is how it works: Just type as many words as you can in one minute. After the test ends you will receive
          your result as a WPM-value, which means words per minute (the amount of words you can type per minute). You can
          share your score with your friends</p>
        <hr>
        <h4>Typing test rules</h4>
        
        <p>If you do NOT fix the errors in your typing, a penalty will be added to your final WPM score. To fix the errors,
          press the backspace key.
        </p>
        <p>The timer starts when you click "Begin Test". The timer stops when you click "End Test".</p>
        <p>If you make too many errors, you will not be scored</p>
        <hr>
        <p>Include your score in a your history, track your progress. Click the "Add History" button after the test</p>
        <hr>
        <blockquote class="pull-right">
          <p>Speed and Quality, these are the keys to success</p>
          <small><cite title="Source Title">Efe</cite></small>
        </blockquote>

      </div>
    </div>
  </section>

  <hr>
  <hr>

  <section id="article" class="hidden">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <em><h3 id='passage'></h3></em>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="well">
        <form>
          <div class="form-group">
            <label for="Typed">Type Here</label>
            <input type="text" class="form-control" id="typed">
          </div>
          <button type="button" class="btn btn-default" id='submit'>End Test</button>
        </form>
        <p id="typeView"></p>
      </div>
    </div>
  </section>

  <section id='result' class='hidden'>
    <div class='well'>
      <div class="row">
        <div class="col-lg-6">

          <h3>Display results</h3>
          <p>You type at a speed of <strong id='showResult'></strong> WPM</p>

          <form method="post" action="/test">
            <div class="form-group hidden">
              <label for="date">Date</label>
              <input type="text" name="date" id="date" class="form-control">
            </div>
            <div class="form-group hidden">
              <label for="typingSpeed">Last Name</label>
              <input type="number" name="typingSpeed" id="typingSpeed" class="form-control">
            </div>
            <button type="submit" class="btn btn-default" id='addHistory'>Add History</button>
          </form>
        </div>

        <div class="col-lg-6">

          <h3>Don't like your score</h3>
          <p>Retake Test</p>
          <button class="btn btn-primary" id="retakeTest">Retake Test</button>
          <!--<a class="btn btn-lg btn-primary test" data-toggle="modal" href="#myModal">Begin Typing</a>-->

        </div>

      </div>
    </div>
  </section>



  <!-- script references -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  {% endblock %}

  </html>